.gallery_main_container {
    padding: 50px 5%;
    background-color: #f9f9f9;
}

.event_body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.event_card {
    width: 380px;
    height: 270px;
    border-radius: 15px;
    overflow: hidden;
    border: 6px solid #fff;
    position: relative;
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.12);
}

.event_card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.event_card_body {
    position: absolute;
    inset: 0;
    background: rgba(26, 26, 26, 0.75);
    backdrop-filter: blur(8px);
    color: #fff;
    padding: 25px;
    transform: translateX(100%);
    transition: 0.8s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.event_card:hover .event_card_body {
    transform: translateX(0);
}

.event_card_title {
    font-size: 22px;
    font-weight: 600;
    color: #d4af37;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.event_card_info {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 20px;
}

.event_card_btn {
    background: #d4af37;
    color: #000;
    padding: 10px 15px;
    width: 120px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.event_card_btn:hover {
    background: #fff;
}